name: Regressivo - API

on: 
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    env:
      BASE_URL: 'http://localhost:3000'

    steps:
      - name: Checkout do Repositório
        uses: actions/checkout@v4

      - name: Instalando as dependências
        run: npm install

      - name: Iniciando o servidor de api
        run: |
          npm start &
          echo "Aguardando servidor iniciar..."
          sleep 5

      - name: Executar os testes
        run: npx mocha test/pipeline.test.js --reporter mochawesome --reporter-options reportDir=mochawesome-report,reportFilename=index,reportJson=true
        continue-on-error: true

      - name: Verificar conteúdo do relatório
        run: ls -R mochawesome-report || echo "Relatório não encontrado"
      
      - name: Upload do relatório Mochawesome
        uses: actions/upload-artifact@v4
        with:
          name: mochawesome-report
          path: mochawesome-report/
          
      - name: Validar sucesso dos testes
        run: |
          FAILURES=$(jq '.stats.failures' mochawesome-report/mochawesome.json)
          if [ "$FAILURES" -gt 0 ]; then
            echo "❌ Testes falharam: $FAILURES falhas encontradas"
            exit 1
          else
            echo "✅ Todos os testes passaram"
          fi
