name: Autenticação Torcedor API Test

on: 
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    env:
      BASE_URL: 'http://localhost:3000'

    steps:
      - name: Checkout do Repositório
        uses: actions/checkout@v4

      - name: Instalando as dependências
        run: npm install

      - name: Iniciando o servidor de api
        run: |
          npm start &
          echo "Aguardando servidor iniciar..."
          sleep 5

      - name: Executar os testes
        run: npm test

      - name: Salvar relatório Mochawesome
        uses: actions/upload-artifact@v4
        with:
          name: mochawesome-report
          path: mochawesome-report/
